*.bak
*-backups/
*.kicad_pcb-bak
*.kicad_sch-bak
__pycache__/
.history/
kiforge_out/
dist/
packages.json
repository.json
resources.zip
tmp/
.idea/
.vscode/
plugins/kiforge.py
plugins/templates/
.DS_Store
